@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #999;
  line-height: 1.5;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

a {
  color: #33bfd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a:hover {
  color: #70d2de;
}

img {
  display: block;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

img:hover {
  opacity: 0.75;
}

a, img {
  border: none;
  outline: none;
}

.main {
  padding: 5em 0;
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #333;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  margin: 2rem 0 0 0;
  line-height: 0.5;
  font-weight: 500;
}


.gallery ul li {
  padding-bottom: 1em;
}

.item {
  max-width: 50%;
  float: left;
  margin-bottom: 1em;
  display: block;
}

.item:nth-of-type(2n+1) {
  clear: left;
}

footer {
  text-align: center;
  padding: 2em 0;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 500px;
    position: absolute;
    left: 80%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .Alex{
    left: 45%;
}
.image:hover .shape{
    bottom: 40px;
}
footer{
    text-align:left;
    color:#2493d4;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #83858c;
    font-weight: bold;
}
nav ul li a:hover{
    color: #2493d4;
}

/* CSS Grid */
.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "gallery gallery gallery"
    "footer footer footer";
}

.main {
  grid-area: main;
}



.gallery {
  grid-area: gallery;
}

.gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1em;
}

footer {
  grid-area: footer;
  display: grid;
  justify-items: center;
}

/* Flexbox */

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 1em);
  flex: 0 1 calc(50% - 1em);
  -ms-flex-preferred-size: calc(50% - 1em);
  flex-basis: calc(50% - 1em);
}


/* Media Queries */
@media (max-width: 824px) {
  header nav li {
    margin: 0 10px;
  }

  .gallery ul {
    grid-template-columns: 100%;
  }

  .gallery ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .item {
    max-width: 100%;
    float: none;
  }
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #83858c;
    font-weight: bold;
}
nav ul li a:hover{
    color: #2493d4;
}
.navbr img{
    overflow-clip-margin:content-box;
    overflow:clip;
}
.navbr ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
